<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloo Chatroom!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="chat">
      <ul id="messages"></ul>
      <form action="/" id="chatForm">
        <label for="message" id="uname">{{ uname }}</label>
        <input name="message" id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..."/>
        <button>Send</button>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="script.js"></script>
  </body>
</html>