<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloo Chatroom!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="chat">
      <h1>Welcome
        <br><br>to<br><br>
        Bloo Chat!</h1>
      <form id="chatForm">
        <input name="uname" id="txt" autocomplete="off" autofocus="on" placeholder="type your nickname here..."/>
        <button class="btn">Register</button>
        <input password="password" id="pw" autocomplete="off" autofocus="on" placeholder="type your password here..."/>
        <button class="btn2">Login</button>
      </form>
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="script2.js"></script>
  </body>
</html>